In [1]:
import numpy as np
import pandas as pd

In [169]:
relevance_train = pd.read_csv('relevance_train.csv', sep='\t', index_col=False)
relevance_test = pd.read_csv('relevance_test.csv', sep=',', index_col=False)

In [171]:
relevance_train.head()

   QueryId  DocumentId  Relevance
0        1         184          2
1        1          29          2
2        1          31          2
3        1          12          3
4        1          51          3

In [172]:
relevance_test.head(20)

    QueryId  DocumentId
0       126         974
1       126        1326
2       126         187
3       126         969
4       126         970
5       126         971
6       126         972
7       126         973
8       126         942
9       127         101
10      127         164
11      127         981
12      127         982
13      127         983
14      127         944
15      128         985
16      128         990
17      128         945
18      129         985
19      129         987

In [67]:
queries = queries.dropna()
queries = queries.reset_index()
relevance_test = relevance_test.reset_index()
relevance_train = relevance_train.reset_index()

In [70]:
np.sort(np.unique([int(i) for i in queries["QueryId"]]))

array([  1,   2,   4,   8,   9,  10,  12,  13,  15,  18,  22,  23,  26,
        27,  29,  31,  32,  33,  34,  35,  39,  40,  41,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  61,  62,  66,  67,  68,
        69,  71,  72,  74,  79,  80,  81,  82,  83,  84,  85,  86,  87,
        93,  94,  95,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106,
       107, 108, 109, 110, 111, 112, 113, 114, 116, 118, 119, 120, 121,
       122, 123, 126, 128, 130, 131, 132, 133, 135, 136, 137, 138, 139,
       140, 141, 142, 143, 145, 146, 147, 148, 149, 150, 152, 153, 154,
       155, 156, 157, 158, 160, 161, 163, 164, 165, 167, 168, 169, 170,
       171, 173, 175, 176, 177, 181, 182, 183, 184, 187, 189, 190, 196,
       200, 201, 202, 203, 204, 205, 206, 208, 209, 210, 211, 212, 213,
       214, 215, 216, 217, 218, 219, 223, 224, 225, 226, 227, 230, 231,
       232, 233, 234, 241, 245, 246, 247, 250, 251, 252, 253, 254, 255,
       257, 259, 261, 264, 265, 266, 267, 268, 269, 272, 273, 274, 275,
       277, 283, 284, 285, 288, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 303, 304, 306, 314, 315, 316, 317, 321, 323, 327,
       331, 332, 333, 335, 336, 338, 339, 340, 347, 348, 349, 352, 353,
       355, 356, 360, 365])

In [71]:
np.sort(np.unique([int(i) for i in relevance_test["QueryId"]]))

array([126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
       139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151,
       152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164,
       165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177,
       178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190,
       191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203,
       204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216,
       217, 218, 219, 220, 221, 222, 223, 224, 225])

In [72]:
np.sort(np.unique([int(i) for i in relevance_train["QueryId"]]))

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125])

In [81]:
relevance_train = relevance_train.dropna()

In [82]:
relevance_train['Relevance'] = [int(i) for i in relevance_train['Relevance']]
relevance_train['DocumentId'] = [int(i) for i in relevance_train['DocumentId']]

In [173]:
doc_ids = np.unique(relevance_train['DocumentId'])

In [174]:
doc_ids

array([   2,    3,    4,    5,    6,   12,   13,   14,   15,   16,   19,
         20,   21,   22,   23,   24,   25,   27,   28,   29,   30,   31,
         32,   33,   37,   39,   46,   47,   48,   50,   51,   52,   56,
         57,   58,   62,   63,   64,   65,   66,   67,   68,   75,   79,
         84,   85,   86,   87,   88,   90,   91,   92,   94,   95,   97,
         99,  101,  102,  104,  105,  106,  115,  119,  121,  122,  123,
        128,  132,  141,  142,  144,  145,  160,  164,  166,  167,  168,
        169,  172,  173,  174,  176,  177,  180,  181,  184,  185,  187,
        188,  192,  194,  195,  196,  197,  198,  199,  200,  201,  202,
        205,  207,  208,  212,  213,  214,  215,  216,  224,  225,  236,
        242,  247,  249,  250,  252,  253,  255,  256,  257,  258,  259,
        261,  262,  263,  265,  266,  267,  268,  269,  270,  271,  272,
        276,  277,  278,  279,  283,  285,  288,  289,  291,  294,  296,
        297,  298,  299,  302,  304,  305,  306,  307,  308,  309,  310,
        311,  314,  315,  316,  317,  320,  322,  323,  324,  326,  329,
        332,  333,  335,  336,  338,  344,  354,  360,  364,  365,  375,
        376,  377,  378,  379,  380,  381,  382,  384,  388,  389,  390,
        391,  392,  393,  394,  399,  401,  405,  406,  407,  408,  409,
        413,  414,  418,  420,  421,  426,  427,  428,  431,  433,  436,
        437,  438,  439,  440,  442,  446,  447,  448,  449,  458,  460,
        462,  463,  464,  465,  466,  467,  468,  469,  470,  475,  476,
        478,  481,  485,  486,  487,  488,  491,  492,  493,  494,  495,
        496,  497,  498,  499,  500,  502,  503,  505,  511,  512,  513,
        514,  516,  517,  518,  519,  520,  521,  522,  524,  525,  526,
        527,  528,  531,  534,  536,  538,  539,  540,  541,  543,  544,
        546,  547,  548,  550,  552,  553,  554,  555,  556,  557,  558,
        559,  560,  562,  564,  565,  566,  567,  568,  569,  570,  571,
        572,  573,  574,  575,  576,  577,  578,  588,  589,  590,  593,
        594,  596,  597,  598,  601,  605,  606,  608,  609,  611,  612,
        613,  614,  615,  616,  617,  618,  623,  624,  625,  627,  628,
        629,  630,  631,  632,  633,  634,  635,  637,  638,  639,  640,
        641,  643,  649,  650,  652,  654,  655,  656,  658,  659,  660,
        661,  662,  663,  664,  666,  667,  668,  670,  672,  676,  677,
        678,  679,  680,  681,  682,  683,  686,  687,  688,  689,  690,
        691,  698,  699,  700,  701,  702,  703,  704,  705,  706,  708,
        709,  710,  711,  712,  713,  714,  715,  716,  717,  719,  720,
        723,  724,  725,  726,  727,  728,  729,  730,  731,  746,  748,
        749,  751,  752,  753,  754,  755,  756,  757,  758,  760,  761,
        762,  764,  766,  769,  775,  776,  777,  778,  779,  780,  784,
        785,  786,  787,  788,  789,  790,  792,  793,  794,  795,  796,
        797,  798,  799,  800,  801,  802,  803,  804,  805,  806,  807,
        808,  809,  810,  811,  817,  818,  819,  820,  821,  822,  823,
        824,  825,  826,  828,  829,  833,  834,  835,  836,  837,  844,
        845,  846,  847,  848,  849,  856,  857,  858,  859,  860,  861,
        862,  863,  864,  873,  874,  875,  876,  877,  878,  879,  880,
        885,  886,  887,  888,  889,  890,  891,  892,  894,  895,  896,
        897,  898,  899,  900,  901,  902,  903,  909,  910,  911,  913,
        914,  916,  917,  919,  920,  921,  922,  923,  924,  925,  926,
        927,  931,  932,  934,  935,  936,  937,  938,  941,  942,  946,
        948,  957,  962,  964,  965,  966,  967,  968,  969,  970,  971,
        972,  973,  974,  976,  977,  980,  992,  994,  995,  997,  998,
        999, 1001, 1005, 1011, 1051, 1076, 1078, 1081, 1084, 1104, 1109,
       1112, 1121, 1122, 1131, 1141, 1146, 1154, 1159, 1161, 1174, 1185,
       1187, 1192, 1197, 1198, 1213, 1226, 1243, 1247, 1252, 1256, 1257,
       1259, 1272, 1289, 1290, 1296, 1297, 1302, 1304, 1333, 1339, 1355,
       1364, 1367, 1379, 1391, 1393, 1395])

In [84]:
for i in doc_ids:
    relevance_train.loc[relevance_train['DocumentId']==i, 'AvgRel'] = np.sum(relevance_train.loc[relevance_train['DocumentId']==i, 'Relevance'])/len(relevance_train.loc[relevance_train['DocumentId']==i, 'Relevance'])

In [85]:
relevance_train.head()

   index QueryId  DocumentId  Relevance    AvgRel
1      2       1          29          2  2.000000
2      3       1          31          2  2.500000
3      4       1          12          3  2.750000
4      5       1          51          3  2.666667
6      7       1          13          4  4.000000

In [87]:
relevance_train.sort_values('AvgRel', ascending=False)

     index QueryId  DocumentId  Relevance    AvgRel
417    418      51          63          4  4.000000
15      16       1          52          4  4.000000
80      81       7          19          4  4.000000
123    124      13          65          4  4.000000
127    128      14          65          4  4.000000
37      38       2          52          4  4.000000
36      37       2          14          4  4.000000
474    475      57          14          4  4.000000
618    619      73          25          4  4.000000
713    714      87          50          4  4.000000
462    463      56          14          4  4.000000
6        7       1          13          4  4.000000
7        8       1          14          4  4.000000
873    874     107          75          4  3.500000
879    880     108          75          3  3.500000
571    572      69          62          3  3.000000
428    429      53          33          3  3.000000
302    303      39          79          3  3.000000
610    611      72          62          4  3.000000
438    439      54          84          2  3.000000
336    337      43          39          3  3.000000
537    538      65           4          3  3.000000
111    112      11          20          4  3.000000
108    109      11          28          3  3.000000
362    363      46          84          4  3.000000
107    108      11          27          3  3.000000
577    578      70          62          2  3.000000
559    560      67           4          3  3.000000
85      86       8          58          3  3.000000
481    482      57          15          4  3.000000
..     ...     ...         ...        ...       ...
422    423      52          21          2  2.500000
406    407      50          21          4  2.500000
594    595      72          21          2  2.500000
2        3       1          31          2  2.500000
94      95       9          21          2  2.500000
78      79       7          57          3  2.500000
9       10       1          57          2  2.500000
892    893     110          31          3  2.500000
581    582      70          24          4  2.333333
773    774      94          24          1  2.333333
286    287      38          24          2  2.333333
439    440      54          24          3  2.333333
311    312      40          24          2  2.333333
299    300      39          24          2  2.333333
203    204      24          46          2  2.000000
629    630      73          68          3  2.000000
143    144      19          32          2  2.000000
144    145      19          67          2  2.000000
164    165      21          16          2  2.000000
168    169      22          68          1  2.000000
1        2       1          29          2  2.000000
204    205      24          47          2  2.000000
448    449      55          16          2  2.000000
548    549      67           3          1  1.500000
525    526      65           2          2  1.500000
526    527      65           3          2  1.500000
126    127      14          64          1  1.500000
121    122      13          64          2  1.500000
547    548      67           2          1  1.500000
82      83       8          48          1  1.000000

[86 rows x 5 columns]

In [101]:
rel_df = pd.DataFrame(np.transpose([doc_ids, np.zeros(np.shape(doc_ids))]), columns=['DocumentId', 'AvgRel'])

In [109]:
rel_df.head()

    DocumentId  AvgRel
6         13.0     4.0
36        63.0     4.0
16        25.0     4.0
7         14.0     4.0
29        50.0     4.0

In [105]:
for i in rel_df['DocumentId']:
    rel_df.loc[rel_df['DocumentId']==i, 'AvgRel'] = np.max(relevance_train.loc[relevance_train['DocumentId']==i, 'AvgRel'])

In [108]:
rel_df = rel_df.sort_values('AvgRel', ascending=False)

In [110]:
result = pd.DataFrame()

In [113]:
result['QueryId'] = [int(i) for i in queries["QueryId"]]

In [123]:
submission_example = pd.read_csv('submission_example.csv')

In [134]:
submission_example.head()

   QueryId  DocumentId
0      126          13
1      126          63
2      126          25
3      126          14
4      126          50

In [130]:
q_ids = np.unique(submission_example['QueryId'])
print(q_ids)

[126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225]

In [131]:
for i in q_ids:
    submission_example.loc[submission_example['QueryId']==i, 'DocumentId'] = [int(i) for i in rel_df['DocumentId'][:len(submission_example[submission_example['QueryId']==i])]]

In [133]:
submission_example['DocumentId'] = [int(i) for i in submission_example['DocumentId']]

In [136]:
submission_example.to_csv('Submission1.csv', index=False)

In [138]:
relevance_test = relevance_test.drop('index', axis=1)

In [222]:
relevance_test['AvgRel'] = np.zeros(len(relevance_test))

In [223]:
for i in doc_ids:
    relevance_test.loc[relevance_test['DocumentId']==i, 'AvgRel'] = np.mean(relevance_train.loc[relevance_train['DocumentId']==i, 'Relevance'])

In [224]:
len(relevance_test[relevance_test['AvgRel']!=0])

315

In [225]:
import random

In [226]:
relevance_test.loc[relevance_test['AvgRel']==0, 'AvgRel'] = np.random.rand(len(relevance_test.loc[relevance_test['AvgRel']==0, 'AvgRel']))

In [227]:
relevance_test['AvgRel'] = relevance_test['AvgRel']*(-1)

In [228]:
relevance_test = relevance_test.sort_values(['QueryId', 'AvgRel'])

In [206]:
random.uniform(0, 1)

0.6786321251717231

In [229]:
relevance_test

     QueryId  DocumentId    AvgRel
0        126         974 -4.000000
2        126         187 -3.333333
7        126         973 -3.000000
3        126         969 -2.000000
4        126         970 -2.000000
5        126         971 -2.000000
6        126         972 -2.000000
1        126        1326 -0.784008
8        126         942  1.000000
9        127         101 -3.200000
10       127         164 -2.000000
11       127         981 -0.877311
13       127         983 -0.728705
14       127         944 -0.149929
12       127         982 -0.076099
15       128         985 -0.742943
16       128         990 -0.361020
17       128         945 -0.246893
22       129         989 -0.999825
18       129         985 -0.928899
24       129         990 -0.918902
23       129         986 -0.740071
21       129         988 -0.560617
25       129         945 -0.552841
20       129         984 -0.410901
19       129         987 -0.002185
30       130          12 -2.750000
28       130         859 -2.666667
27       130         858 -2.500000
31       130         948 -2.000000
..       ...         ...       ...
820      224        1274 -0.506234
821      224        1286 -0.504276
818      224        1319 -0.446352
816      224        1316 -0.195405
814      224        1313 -0.188394
835      225         448 -4.000000
836      225         449 -4.000000
822      225        1379 -3.500000
824      225        1304 -3.000000
829      225         421 -3.000000
841      225         924 -3.000000
845      225        1213 -3.000000
833      225         225 -2.500000
839      225         433 -2.000000
840      225         923 -2.000000
843      225        1074 -0.948984
827      225        1309 -0.846987
830      225        1377 -0.754458
825      225          40 -0.742410
846      225        1188 -0.652884
842      225        1062 -0.534476
837      225        1124 -0.487512
832      225        1381 -0.409483
823      225        1305 -0.358406
826      225         293 -0.304117
828      225         161 -0.303945
831      225        1378 -0.259197
834      225        1380 -0.200761
844      225        1075 -0.040505
838      225        1280 -0.014477

[847 rows x 3 columns]

In [230]:
relevance_test[['QueryId', 'DocumentId']].to_csv('Submission2_new.csv', index=False)